body {
    width: 23rem;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}

li:nth-child(odd) {
    background: #cfcfcf;
}

li:nth-child(even) {
    background: #e9e9e9;
}

h3,
p {
    margin: 0;
}

.titletb {
    width: 10rem;
    height: 1rem;
    left: 1rem;
    font-family: 'Roboto', sans-serif;
}

input[type="radio"] {
    display: none;
}

.button {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 8px;
    top: 5px;
    cursor: pointer;
}

.button span {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.button span:hover {
    padding: 2px;
}

.grey .button span {
    background: #E6E6E6;
}

.blue .button span {
    background: #76A7FA;
}

.red .button span {
    background: #ED9D97;
}

.yellow .button span {
    background: #FFE168;
}

.green .button span {
    background: #7BCFA9;
}

.pink .button span {
    background: #F08AC9;
}

.purple .button span {
    background: #C189F8;
}

.cyan .button span {
    background: #82D8E8;
}

.orange .button span {
    background: #F0A96A;
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    /*transition: ease .3s;*/
    z-index: -1;
}

.grey input:checked~.layer {
    border-top: 10px solid #E6E6E6;
}

.blue input:checked~.layer {
    border-top: 10px solid #76A7FA;
}

.red input:checked~.layer {
    border-top: 10px solid #ED9D97;
}

.yellow input:checked~.layer {
    border-top: 10px solid #FFE168;
}

.green input:checked~.layer {
    border-top: 10px solid #7BCFA9;
}

.pink input:checked~.layer {
    border-top: 10px solid #F08AC9;
}

.purple input:checked~.layer {
    border-top: 10px solid #C189F8;
}

.cyan input:checked~.layer {
    border-top: 10px solid #82D8E8;
}

.orange input:checked~.layer {
    border-top: 10px solid #F0A96A;
}

.checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.removeButton,
.gotoButton {
    background-color: #fafafa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.removeButton {
    float: right;
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
}

.removeButton:hover {
    background-color: #ff0000;
    color: #ffffff;
}
.gotoButton:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.gotoButton:focus {
    border-color: #4285f4;
    outline: none;
}

.removeTabsButton,
.groupTabsButton {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.removeTabsButton:hover,
.groupTabsButton:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.removeTabsButton:active,
.groupTabsButton:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.removeTabsButton:focus,
.groupTabsButton:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.removeTabsButton:not(:disabled),
.groupTabsButton:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.removeTabsButton:not(:disabled):hover,
.groupTabsButton:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.removeTabsButton:not(:disabled):focus,
.groupTabsButton:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.removeTabsButton:not(:disabled):active,
.groupTabsButton:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.removeTabsButton:disabled,
.groupTabsButton:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}