body {
    width: 20rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
}

li {
    padding: 0.25rem;
}

li:nth-child(odd) {
    background: #80808030;
}

li:nth-child(even) {
    background: #ffffff;
}

h3,
p {
    margin: 0;
}

.titletb {
    width: 10rem;
    left: 1rem;
}

input[type="radio"] {
    display: none;
}

.button {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 8px;
    top: 5px;
    cursor: pointer;
}

.button span {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    padding: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
}

.button span:hover {
    padding: 2px;
}

input[type="radio"]:checked+label {
    background: green;
}

.orange .button span {
    background: #FF5722;
}

.amber .button span {
    background: #FFC107;
}

.lime .button span {
    background: #8BC34A;
}

.teal .button span {
    background: #009688;
}

.blue .button span {
    background: #2196F3;
}

.indigo .button span {
    background: #3F51B5;
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    /*transition: ease .3s;*/
    z-index: -1;
}

.orange input:checked~.layer {
    border-top: 20px solid #FF5722;
}

.amber input:checked~.layer {
    border-top: 20px solid #FFB300;
}

.lime input:checked~.layer {
    border-top: 20px solid #7CB342;
}

.teal input:checked~.layer {
    border-top: 20px solid #00897B;
}

.blue input:checked~.layer {
    border-top: 20px solid #1E88E5;
}

.indigo input:checked~.layer {
    border-top: 20px solid #3949AB;
}